git+https://github.com/openai/CLIP.git
milvus>=2.3.0
pdf2image
pillow
pymilvus>=2.3.0
qdrant_client
llama-index==0.10.4
llama-index-core==0.10.3
llama-index-embeddings-clip==0.1.1
llama-index-embeddings-openai==0.1.1
llama-index-llms-gemini==0.1.1
llama-index-llms-openai==0.1.1
llama-index-multi-modal-llms-gemini==0.1.1
llama-index-multi-modal-llms-openai==0.1.1
llama-index-multi-modal-llms-replicate==0.1.1
llama-index-readers-file==0.1.1
llama-index-vector-stores-milvus==0.1.1
llama-index-vector-stores-qdrant==0.1.1
